@model List<MemberGetVM>


<div class="container">
	<div class="row">

        <div><h2>MEMBERS TABLE</h2></div>

        <a asp-action="Create" class="btn btn-success">Create a new Member</a>

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)
                {
                    <tr>
                        <th scope="row">@member.Id</th>
                        <td>@member.Fullname</td>
                        <td>@member.Designation</td>
                        <td><img src="~/assets/img/@member.ImagePath"/></td>
                        <td>
                            <a asp-action="Update" asp-route-id="@member.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-route-id="@member.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
                
               
            </tbody>
        </table>
	</div>
</div>
